.button-section {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}

.button-section-container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}